<%- include('layouts/header') %>

        <header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Nouveau post</h1>
                            <span class="subheading">Créer un nouvel article</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <form id="createForm" action="/post/store" method="POST" enctype="multipart/form-data">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Titre</label>
                                <input type="text" class="form-control" id="title" name="title" placeholder="Titre">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Description</label>
                                <textarea rows="5" class="form-control" id="description" name="body" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Image</label>
                                <input type="file" class="form-control" id="image" name="image">
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary text-uppercase">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>

<%- include('layouts/footer') %>